html{
    font-size:100px;
}
#r_header .btn{
	float:left;
    width:0.23rem;
    height:0.23rem;
  	margin-left:0.27rem;
	margin-top:0.15rem;
	background:url(../img/1.jpg) no-repeat;
}
#r_header .r_top{
    width:3.75rem;
    height:0.4rem;
    background:#000;
}
#r_header .r_top h1{
    font-size:0.15rem;
    font-weight:normal;
    color:#fff;
    line-height:0.4rem;
    text-align:center;
}
#r_header .box1 img{
   width:3.75rem;
}
#r_header .box1{
	position:relative;
}
.box1 .p1{
	position:absolute;
	left:0.35rem;
	top:1.8rem;
	font-size:0.17rem;
	color:#fff;
}
.box1 .p2{
	position:absolute;
	left:0.35rem;
	top:2.2rem;
	font-size:0.35rem;
	color:#fff;
	background:#f00;
}
.box1 .p3{
	position:absolute;
	left:1.8rem;
	top:2.2rem;
	font-size:0.35rem;
	color:#fff;
}
#r_active{
    width:3.75rem;
	height:15rem;
    background:#000;
    z-index:99999;
    position:absolute;
    left:0;
    top:0.4rem;
    display:none;
}
#r_active .r_close{
    color:#fff;
    font-size:0.5rem;
    margin-left:0.2rem;
    margin-top:0.02rem;
}
#r_active li{
    padding-bottom:0.2rem;
    padding-top:0.2rem;
    text-align:center;
    border-bottom:1px solid #ccc;
}
#r_active li a{
    font-size:0.2rem;
    color:#fff;
}


.r_count{
    width:3.75rem;
    height:1.75rem;
    padding-top:0.3rem;
	padding-bottom:0.5rem;
    padding-left:0.15rem;
}
.r_count h2{
    font-size:0.22rem;
    margin-bottom:0.16rem;
}
.r_count h2 span{
    color:#ff0000;
	padding-right:0.02rem;
}
.r_count div{
    width:0.44rem;
    height:0.04rem;
    background:#f00;
    margin-left:0.4rem;
    margin-bottom:0.2rem;
}
.r_count p{
    width:2.4rem;
    font-size:0.14rem;
    color:#111;
    line-height:0.24rem;
    margin-left:0.4rem;
}
.r_video{
	width:3.75rem;
	height:5.79rem;
	background:#000;
	padding-top:0;
}

.r_change h2, .r_change h2 span, .r_change div, .r_change p{
	color:#fff;
}

#r_header .r_source{
	width:2.4rem;
	margin-top:1rem;
}
#r_header .r_call{
	font-size:0.14rem;
	text-align:center;
	line-height:0.24rem;
}
iframe{
    width:3.75rem;
    height:1.21rem;
}