*{
  margin:0;
  padding:0;
  list-style:none;
}
a{
  font-size:12px;
  color:#000;
  text-decoration:none;
}
img{
  display:block;
}
.div1{
  width:100%;
  height:72px;
  background:#000;
  overflow:hidden;
  h1{
    width:72px;
    height:72px;
    float:left;
    a{
      width:100%;
      height:100%;
      float:left;
    }
  }
  ul{
    width:600px;
    height:72px;
    float:right;
    margin-right:20px;
    position:relative;
    li{
      width:100px;
      height:72px;
      text-align:center;
      float:left;
      line-height:72px;
      a{
        color:#ccc;
        font-size:16px;
      }
      .on{
        color:#fff;
      }
    }
    #pos{
      width:100px;
      height:72px;
      position:absolute;
      left:0;
      top:0;
      border:1px solid yellow;
      background:#66ccff;
      opacity:0.5;
    }
  }
}
#bg_box{
  width:1400px;
  height:600px;
  position:relative;
  margin:0 auto;
  overflow:hidden;
  ul{
    position:absolute;
    left:0;
    top:0;
    li{
      float:left;
      width:1400px;
      height:600px;
      position:relative;
      div{
        margin:100px auto;
        font-size:50px;
        font-weight:bold;
        color:#fff;
        position:absolute;
        left:25%;
        top:25%;
      }
    }
  }
  ol{
    width: 100px;
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 10px;
    text-align: center;
    border-radius: 20px;
    li{
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #B7B7B7;
      display: inline-block;
      cursor: pointer;
    }
    .active{
      background:#6cf;
    }
  }
}
#works{
  width:85%;
  border:1px solid #3f51b5;
  margin-bottom:50px;
  margin:50px auto;
  background:#B7B7B7;
  border-radius:10px;
  h2{
    font-size:30px;
    text-align:center;
  }

}

//3dshizhong
.box_2{
  position: relative;
  background:url("../images/10.jpg") no-repeat;
  width:100%;
  height:296px;
}
.box_2 .contact{
  width:296px;
  height: 296px;
  position: absolute;
  left: 598px;
  top:420px;
  color: #fff;
  font-weight: bold;
}
.box_2 .contact .p1{
  margin-top: 188px;
  margin-left: 100px;
  font-size: 16px;
}
.box_2 .contact .p2{
  margin-top: 42px;
  margin-left: 122px;
  font-size: 16px;
}
.box_2 a{
  width:75px;
  height: 126px;
  position: absolute;
  bottom:0px;
  left:710px;
}


#boxList {
  -webkit-transform-style:preserve-3d;-webkit-transform:perspective(500px) translateZ(-40px) rotateX(0deg) rotateY(0deg);position:absolute;width:750px;height:80px;margin:-40px 0 0 -375px;left:50%;top:130px;
}

.roll {
  width:80px;height:80px;position:relative;
  -webkit-transform-style:preserve-3d;
  float:left;padding-right:40px;color:#fff;
  font-family:"Comic Sans MS", cursive;
}
.roll div{
  width:80px;height:80px;position:absolute;
  border:1px solid #3f51b5;font-size:40px;
  text-align:center;line-height:80px;
  text-shadow:0 0 5px #3f51b5;
}
.roll .a {-webkit-transform:translateZ(40px)}
.roll .b {-webkit-transform:rotateX(-180deg) translateZ(40px)}
.roll .c {-webkit-transform:rotateX(90deg) translateZ(40px)}
.roll .d {-webkit-transform:rotateX(-90deg) translateZ(40px)}

